<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions component's page</title>
    
</head>
<body>
    <div class="component-container">
        <ul class="c-actions"> 
            <li class="c-action">
               <span class="c-action__title">طلبات تحتاد معالجة 10</span>
               <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">رسائل تحتاج الاجابة5</span>
                <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">منتجات ضرورية على وشك النفاذ 3</span>
                <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
            </li>
        </ul>
    </div>
</body>
</html>